<header id="snow">
  <div class="inner">
  <div class="flexslider" style="width:990px;margin: 0px auto;background-color:transparent;clear:left;animation:'slide'">
    <ul class="slides">
      <li class="slides">
        <a id="dodsto" class="banner" href="http://www.code-conf.com/day-of-docker-sthlm16/">
          <!--ribbon>
            <event>Day of Docker</event>
            <location>STHLM 2016</location>
          </ribbon-->
          <dot>
            <date>March<br/>31st</date>
          </dot>
          <tagline></tagline>
          <icon id="boatsto"></icon>
        </a>
      </li>
    </ul>
  </div>
</header>
<!--div class="menubar">
  <div class="inner">
    <a class="menu" href="/day-of-docker-sthlm16">Day of Docker</a>
    <a class="menu" href="/day-of-docker-sthlm16/agenda">Agenda</a>
    <a class="menu" href="/day-of-docker-sthlm16/program">Program</a>
    <a class="menu" href="/day-of-docker-sthlm16/postconf">Postconf</a>
    <a class="menu" href="/day-of-docker-sthlm16/sponsors">Sponsors</a>
    <a class="menu" href="/day-of-docker-sthlm16/misc">Practical Info</a>
  </div>
</div-->
</div>
