<a href="https://www.eventbrite.co.uk/e/day-of-docker-stockholm-2016-tickets-20692623193"><div class="bluebox">
  <h1>
  Register here for Day of Docker!</h1>
  <hr>
  We are looking forward to seeing you at Day of Docker.
</div></a>
<div style="height:15px"></div>

<div class="darkbox">
  <h1>LOCATION</h1>
  Clarion Hotel Sign<br>
  Östra Järnvägsgatan 35<br>
  101 26 Stockholm, Sweden
  <hr>
  <h1>DATE</h1>
  April 7<sup>th</sup> 2016<br/>
  <hr>
  <h1>TIME</h1>
  <div style="padding-bottom:8px">08:00 - Late!</div>
  <a  title="Hilton" target="_blank" href="https://goo.gl/JAvJKI">
    <img
      width="200"
      frameborder="0"
      style="border:0"
          src="/day-of-docker-sthlm16/images/locationclarionsthlm.png"
    </img>
  </a>
</div>

<div style="height:15px"></div>
<div class="darkbox" style="height:70px">
  <div style="float:left;"><h1>Social</h1></div>
  <a target="_blank" href="/social/tweets.html"><img width="70px" style="float:right;" src="/jues15/images/twitter-icon.png"></a>
  <!--a href="http://www.linkedin.com/groups/Continuous-Delivery-Users-4893734"><img width="70px" style="float:right;" src="/jues15/images/linkedin-icon.png"></a-->
</div>

<div style="height:15px"></div>

<div class="bluebox" style="height:250px">
  <h1>
  Made possible by
  </h1>
  <hr>
  <div class="flexslider" style="margin: 0px auto;background-color:transparent">
    <ul class="slides">
      <li class="slides">
        <a href="/day-of-docker-osl15/sponsors/praqma.html"><img style="width:190px" src="/sponsors/logos/praqma_4x2.png"/></a>
      </li>
      <!-- TODO Add new sponsors banners-->
      <!-- li class="slides">
        <a href="https://www.docker.com"><img style="width:190px" src="/images/sponsors/docker.png"/></a>
      </li>
      <li class="slides">
        <a href="http://bekk.no"><img style="width:190px" src="/sponsors/logos/bekk_4x2.png"/></a>
      </li>
      <li class="slides">
        <a href="/day-of-docker-osl15/sponsors/redhat.html"><img style="width:190px" src="/images/sponsors/Red_Hat.png"/></a>
      </li-->
    </ul>
  </div>
</div>
