<a href="http://codecph15.eventbrite.com" target="_blank"><div class="greenbox">
  <h1>
  Register here!</h1>
  <hr>
  We are looking forward to see you.
</div></a>
<div style="height:15px"></div>

<div class="darkbox">
  <h1>LOCATION</h1>
  Hotel Scandic Copenhagen<br>
  Vester Søgade 6<br>
  DK-1601 København V
  <hr>
  <h1>DATE</h1>
  October 7<sup>th</sup> 2015
  <hr>
  <h1>TIME</h1>
  <div style="padding-bottom:8px">9:00 - 17:00</div>
  <a  title="CoDe CPH 2015 Venue: Hotel Scandic Copenhagen" target="_blank" href="https://www.google.com/maps/@55.67497,12.559613,17z">
    <img
      width="200"
      frameborder="0"
      style="border:0"
      src="/cph15/images/CoDeCPH15venue.png"
    </img>
  </a>
</div>

<div style="height:15px"></div>
<div class="darkbox" style="height:70px">
  <div style="float:left;"><h1>Social</h1></div>
  <a target="_blank" href="/cph15/social/tweets.html"><img width="70px" style="float:right;" src="/cph15/images/twitter-icon.png"></a>
  <a href="http://www.linkedin.com/groups/Continuous-Delivery-Users-4893734"><img width="70px" style="float:right;" src="/cph15/images/linkedin-icon.png"></a>
</div>
<div style="height:15px"></div>
<a href="http://codecph15.eventbrite.com" target="_blank"><div class="greenbox">
  <h1>
  Register here!</h1>
  <hr>
  We are looking forward to see you,
</div></a>

<div style="height:15px"></div>

<div class="greenbox">
  <h1>
  Made possible by
  </h1>
  <hr>
  <div class="flexslider" style="margin: 0px auto;background-color:transparent">
    <ul class="slides">
      <li class="slides">
        <a href="/cph15/sponsors/praqma.html"><img style="width:90px" src="/cph15/images/sponsors/praqma_logo_3D-_small.png"/></a>
      </li>
      <li class="slides">
        <a href="/cph15/sponsors/xebialabs.html"><img style="width:190px" src="/sponsors/logos/xebialabs_4x2.png"/></a>
      </li>
      <li class="slides">
  <a href="/cph15/sponsors/delphix.html"><img style="width:190px" src="/sponsors/logos/delphix_4x2.png"/></a>
</li>
<li class="slides">
  <a href="/cph15/sponsors/cloudbees.html"><img style="width:190px" src="/sponsors/logos/cloudbees_4x2.png"/></a>
</li>
<li class="slides">
  <a href="/cph15/sponsors/atlassian.html"><img style="width:190px" src="/sponsors/logos/atlassian_4x2.png"/></a>
</li>
      <!--li class="slides">
        <a href="/cph15/sponsors/ca.html"><img style="width:90px" src="/cph15/images/sponsors/CA_logo.png"/></a>
      </li-->
    </ul>
  </div>
</div>
