<a href="https://jues15codecamp.eventbrite.com"><div class="bluebox">
  <h1>
  Register for the Code Camp 2015!</h1>
  <hr>
  We are looking forward to see you at JUES15.
</div></a>
<div style="height:15px"></div>

<div class="darkbox">
  <h1>Code Camp - LOCATION</h1>
  Praqma, Copenhagen Office<br>
  Borgergade 24B, 2nd floor<br>
  DK-1300 Copenhagen Denmark
  <hr>
  <h1>DATES</h1>
  August 11<sup>th</sup> 2015 (Code Camp)<br/>
  August 12<sup>th</sup> 2015 (Conference)
  <hr>
  <h1>TIME</h1>
  <div style="padding-bottom:8px">9:00 - 17:00</div>
  <a  title="Praqma" target="_blank" href="https://goo.gl/maps/8NlfD">
    <img
      width="200"
      frameborder="0"
      style="border:0"
      src="/jues15/images/codecamp-venue.png"
    </img>
  </a>
</div>

<div style="height:15px"></div>
<div class="darkbox" style="height:70px">
  <div style="float:left;"><h1>Social</h1></div>
  <a target="_blank" href="/social/tweets.html"><img width="70px" style="float:right;" src="/jues15/images/twitter-icon.png"></a>
  <!--a href="http://www.linkedin.com/groups/Continuous-Delivery-Users-4893734"><img width="70px" style="float:right;" src="/jues15/images/linkedin-icon.png"></a-->
</div>
<div style="height:15px"></div>

<a href="http://www.eventbrite.com/e/jues15-code-camp-tickets-17385898691" target="_blank"><div class="bluebox">
  <h1>
  Register here-CodeCamp!</h1>
  <hr>
  We are looking forward to see you at Jues15_CodeCamp.
</div></a>

<div style="height:15px"></div>

<div class="bluebox">
  <h1>
  Made possible by
  </h1>
  <hr>
  <div class="flexslider" style="margin: 0px auto;background-color:transparent">
    <ul class="slides">
      <li class="slides">
        <a href="/jues15/sponsors/praqma.html"><img style="width:190px" src="/sponsors/logos/praqma_4x2.png"/></a>
      </li>
      <li class="slides">
        <a href="/jues15/sponsors/xebialabs.html"><img style="width:190px" src="/sponsors/logos/xebialabs_4x2.png"/></a>
      </li>
    <li class="slides">
  <a href="/jues15/sponsors/cloudbees.html"><img style="width:190px" src="/sponsors/logos/cloudbees_4x2.png"/></a>
</li>
    </ul>
  </div>
</div>
