
<div class ="announcement">

<a id="jues"  class="pushbox conference" href="/jues15">
  <div class="title">Jenkins User Event<br/>Scandinavia - JUES</div>
  <div class="context">Go With The Flow 2015</div>
  <div class="hashtag">#JUES15</div>
  <div class="date">August 12th 2015</div>
  <div class="venue">Københavns Universitet Amager</div>
  <div class="black-ribbon-bottom">
    <div class="city">Copenhagen</div>
  </div>
</a>

<a id="cph" class="pushbox conference" href="/cph15">
  <div class="title"> Continuous<br/> Delivery and Devops</div>
  <div class="context">Conference 2015</div>
  <div class="hashtag">@CoDeCPH</div>
  <div class="date"> October 7th 2015</div>
  <div class="venue"> Scandic Hotel</div>
  <div class="black-ribbon-bottom">
    <div class="city">Copenhagen</div>
  </div>
</a>

<a id="gotocph" class="pushbox conference" href="http://gotocon.com/cph-2015/tracks/">
  <div class="title">GOTO Copenhagen 2015 Track:</div>
  <div class="context">Fast & Continuous Delivery</div>
  <div class="hashtag">@gotocph</div>
  <div class="date"> October 5th 2015</div>
  <div class="venue"> Scandic Hotel</div>
  <div class="black-ribbon-bottom">
    <div class="city">Copenhagen</div>
  </div>
</a>

<a class="pushbox meetup" href=" http://www.praqma.com/events/gitbootcamp" style="clear:both;">
  <div class="context">Code Camp</div>
  <div class="title">Git<br/>Bootcamp</div>
  <div class="black-ribbon-bottom">
    <div class="date">July 13th<br/>2015</div>
    <div class="city">Århus&nbsp;&nbsp;&nbsp;</div>
  </div>
</a>

<a class="pushbox meetup" href="/jues15/codecamp">
  <div class="context">Code Camp</div>
  <div class="title">JUES hackaton and BoF sessions</div>
  <div class="black-ribbon-bottom">
    <div class="date">August 11th<br/>2015</div>
    <div class="city">Copenhagen</div>
  </div>
</a>

<a class="pushbox meetup" href="http://www.meetup.com/code-u/events/223331825/">
  <div class="context">Drink-up</div>
  <div class="title">JUES <br/>Pre-conference BBQ on the terrasse  </div>
  <div class="black-ribbon-bottom">
    <div class="date">August 11th<br/>2015</div>
    <div class="city">Copenhagen</div>
  </div>
</a>

<a class="pushbox meetup" href="https://secure.trifork.com/cph-2015/freeevent/index.jsp?eventOID=7248">
  <div class="context">Meetup</div>
  <div class="title">GOTO Night on Continuous Delivery and Mobile </div>
  <div class="black-ribbon-bottom">
    <div class="date">August 24th<br/>2015</div>
    <div class="city">Copenhagen</div>
  </div>
</a>



<div>
