
<div class ="announcement">

  <a id="sto" class="pushbox conference" href="/sthlm15">
  <div class="title"> Continuous<br/> Delivery and Devops</div>
  <div class="context">Conference 2015</div>
  <div class="hashtag"> #CoDeSTHLM</div>
  <div class="date"> June 2nd 2015</div>
  <div class="venue"> Folkets Hus</div>
  <div class="black-ribbon-bottom">
    <div class="city">Stockholm</div>
  </div>
</a>

<a id="jues"  class="pushbox conference" href="/jues15">
  <div class="title">Jenkins CI User Event
    <br/>Feat. </div>
  <div class="context">Automate CPH</div>
  <div class="hashtag">@JUES</div>
  <div class="date">August 11+12th 2015</div>
  <div class="venue">Københavns Universitet Amager</div>
  <div class="black-ribbon-bottom">
    <div class="city">Copenhagen</div>
  </div>
</a>

<a id="cph" class="pushbox conference" href="/cph15">
  <div class="title"> Continuous<br/> Delivery and Devops</div>
  <div class="context">Conference 2015</div>
  <div class="hashtag"> #CoDeCPH</div>
  <div class="date"> October 7th 2015</div>
  <div class="venue"> Scandic Hotel</div>
  <div class="black-ribbon-bottom">
    <div class="city">Copenhagen</div>
  </div>
</a>

<a class="pushbox meetup" href="http://www.code-conf.com/sthlm15/preconf/">
  <div class="context">Meetup</div>
  <div class="title">CoDeSTHLM Pre-conference BoF Sessions </div>
  <div class="black-ribbon-bottom">
    <div class="date">June 1st<br/>2015</div>
    <div class="city">Stockholm</div>
  </div>
</a>

<a class="pushbox meetup" href="http://www.meetup.com/code-u/events/222344305/">
  <div class="context">Meetup</div>
  <div class="title">CoDeSTHLM Pre-conference drink-up </div>
  <div class="black-ribbon-bottom">
    <div class="date">June 1st<br/>2015</div>
    <div class="city">Stockholm</div>
  </div>
</a>



<div>
