
<div class ="announcement">

<a id="docker" class="pushbox conference" href="day-of-docker-osl15/">
  <div class="title">Day of Docker 2015</div>
  <div class="context">Workshops and Demos of Docker Ecosystem</div>
  <div class="hashtag">@dayofdockerOSL</div>
  <div class="date"> December 1st 2015</div>
  <div class="venue"> Mesh</div>
  <div class="black-ribbon-bottom">
    <div class="city">Oslo</div>
  </div>
</a>

<br clear="left"/>

<a class="pushbox meetup" href="https://www.eventbrite.co.uk/e/codeu-automation-nights-v1511-sthlm-tickets-19340715601">
  <div class="context">Meetup</div>
  <div class="title">Automation Nights</div>
  <div class="black-ribbon-bottom">
    <div class="date">Nov. 26th<br/>2015</div>
    <div class="city">Stockholm</div>
  </div>
</a>

<a class="pushbox meetup" href="http://mcdwjci-sthlm.eventbrite.com/?aff=codeconf">
  <div class="context">Training</div>
  <div class="title">Mastering Continuous Delivery<br/>with Jenkins</div>
  <div class="black-ribbon-bottom">
    <div class="date">Feb. 8th<br/>2015</div>
    <div class="city">Stockholm</div>
  </div>
</a>

<a class="pushbox meetup" href="https://www.eventbrite.co.uk/e/introduction-to-docker-tickets-19272572784">
  <div class="context">Training</div>
  <div class="title">Introduction to Docker</div>
  <div class="black-ribbon-bottom">
    <div class="date">Dec. 9th<br/>2015</div>
    <div class="city">Copenhagen</div>
  </div>
</a>


<div>
