<header>
  <div class="inner">
  </div>
  <div class="flexslider" style="width:940px;margin: 0px auto;background-color:transparent">
    <ul class="slides">
      <li class="slides">
        <a href="http://www.code-conf.com/jues15/"><img src="/jues15/images/jues15top2.png"/></a>
      </li>
      <li class="slides">
        <a href="http://www.code-conf.com/jues15/codecamp/"><img src="/jues15/images/jues15top3.png""/></a>
      </li>
      <li class="slides">
        <a href="http://www.code-conf.com/cph15"><img src="/images/DoDeCPH_TOP2.jpg"/></a>
      </li>
    </ul>
  </div>
</header>
