<header>
  <div class="inner">

  </div>

  <div class="flexslider" style="width:990px;margin: 0px auto;background-color:transparent">

    <ul class="slides">
      <li class="slides">
            <a href="" class="banner" ><img src="/images/CoDeSTO_TOP2_new.png"/ width="990" height="242">
            <!--ribbon>
              <event>Day of Docker</event>
              <location>STHLM 2016</location>
            </ribbon-->
            <dot>
              <date>2016</date>
            </dot>
            <!--tagline></tagline-->
        </a>
      </li>
      <!--li class="slides">
            <a href="/day-of-containers-cph16/" class="banner" ><img src="/day-of-containers-cph16/images/webtopbanner-doc-cph.png"/ width="990" height="242">
            <!--ribbon>
              <event>Day of Docker</event>
              <location>CPH 2016</location>
            </ribbon-->
            <!--dot>
              <date>APR<br/>4th</date>
            </dot>
        </a>
      </li-->

      <!--li class="slides">
        <a href="http://www.code-conf.com/cph15"><img src="/images/DoDeCPH_TOP2.jpg"/></a>
      </li-->

    </ul>

  </div>
</header>
