<header>
  <div class="inner">

  </div>

  <div class="flexslider" style="width:990px;margin: 0px auto;background-color:transparent">

    <ul class="slides">
      <li class="slides">
            <a href="/day-of-docker-sthlm16/" class="banner" ><img src="/day-of-docker-sthlm16/images/webtopbanner-dod-stockh-ok.png"/ width="990" height="225">
            <!--ribbon>
              <event>Day of Docker</event>
              <location>STHLM 2016</location>
            </ribbon-->
            <dot>
              <date>APR<br/>7th</date>
            </dot>
            <!--tagline></tagline-->
        </a>
      </li>
      <li class="slides">
            <a href="/day-of-docker-cph16/" class="banner" ><img src="/day-of-docker-cph16/images/webtopbanner-dod-kbh-ok.png"/ width="990" height="225">
            <!--ribbon>
              <event>Day of Docker</event>
              <location>CPH 2016</location>
            </ribbon-->
            <dot>
              <date>APR<br/>11th</date>
            </dot>
            <!--tagline></tagline-->
        </a>
      </li>

      <!--li class="slides">
        <a href="http://www.code-conf.com/cph15"><img src="/images/DoDeCPH_TOP2.jpg"/></a>
      </li-->

    </ul>

  </div>
</header>
