<div class="factbox">
  <h1>
    Birds of a Feather
  </h1>

  <p>The old English proverb “Birds of a feather flock together” refers to the fact that birds congregate with birds of the same species. In software development the term Birds of a Feather (BoF) refers to an informal discussion group.</br>
  &nbsp;&nbsp;&nbsp;BoFs generally allow for more audience interaction than panel discussions typically seen at conventions; the discussions are not completely unguided though, as there is still a discussion leader.</p>

</div>
