<div style="height:15px"></div>
<a href="/proposals/cfp.html" target="_blank"><div class="greenbox">
  <h1>
  Call For Proposals</h1>
  <hr>
  Submit your proposal for a speak here
</div></a>
<div style="height:15px"></div>



<div style="height:15px"></div>
<div class="darkbox" style="height:70px">
  <div style="float:left;"><h1>Social</h1></div>
  <a target="_blank" href="/social/tweets.html"><img width="70px" style="float:right;" src="/images/twitter-icon.png"></a>
  <a href="http://www.linkedin.com/groups/Continuous-Delivery-Users-4893734"><img width="70px" style="float:right;" src="/images/linkedin-icon.png"></a>
</div>

<div style="height:15px"></div>

<div class="greenbox">
  <h1>
  CoDe conferences and events by
  </h1>
  <hr>
  <div class="flexslider" style="margin: 0px auto;background-color:transparent">
    <ul class="slides">
      <li class="slides">
        <a href="http://www.praqma.com"><img style="width:90px" src="/images/sponsors/praqma_logo_3D-_small.png"/></a>
      </li>
      <!--li class="slides">
        <a href="/sponsors/ca.html"><img style="width:90px" src="/images/sponsors/CA_logo.png"/></a>
      </li-->
    </ul>
  </div>
</div>
