<div style="height:15px"></div>
<a href="http://codecph.eventbrite.com" target="_blank"><div class="greenbox">
  <h1>
  Register here</h1>
  <hr>
  We're looking forward to see you
</div></a>
<div style="height:15px"></div>

<div class="darkbox">
  <h1>LOCATION</h1>
  The Hotel Bristol<br>
  Kristian IV’s gate 7<br>
  0164 Oslo
  <hr>
  <h1>DATE</h1>
  April 29<sup>th</sup> 2015
  <hr>
  <h1>TIME</h1>
  <div style="padding-bottom:8px">9:00 - 17:00</div>
  <a  title="CoDe OSL 2015 Venue: The Bristol Hotel" target="_blank" href="https://mapsengine.google.com/map/u/0/edit?mid=zw4BQQpH4bbU.kON6FqOoHoBg">
    <img
      width="200"
      frameborder="0"
      style="border:0"
      src="/images/CoDeOSL2015-venue.png"
    </img>
  </a>
</div>

<div style="height:15px"></div>
<div class="darkbox" style="height:70px">
  <div style="float:left;"><h1>Social</h1></div>
  <a target="_blank" href="/social/tweets.html"><img width="70px" style="float:right;" src="/images/twitter-icon.png"></a>
  <a href="http://www.linkedin.com/groups/Continuous-Delivery-Users-4893734"><img width="70px" style="float:right;" src="/images/linkedin-icon.png"></a>
</div>

<div style="height:15px"></div>

<div class="greenbox">
  <h1>
  Made possible by
  </h1>
  <hr>
  <div class="flexslider" style="margin: 0px auto;background-color:transparent">
    <ul class="slides">
      <li class="slides">
        <a href="/sponsors/praqma.html"><img style="width:90px" src="/images/sponsors/praqma_logo_3D-_small.png"/></a>
      </li>
      <li class="slides">
        <a href="/sponsors/ca.html"><img style="width:90px" src="/images/sponsors/CA_logo.png"/></a>
      </li>
    </ul>
  </div>
</div>
