<header>
  <!--div class="inner">
  </div>
  <div class="flexslider" style="width:940px;margin: 0px auto;background-color:transparent">
    <ul class="slides">
      <li class="slides">
        <a href="/agenda/cfp.html"><img src="/jues15/images/head-jcicph2014.png"/></a>
      </li>
      <li class="slides">
        <a href="/codecamp/"><img src="/jues15/images/head-codecamp2014.png"/></a>
      </li>
      <li class="slides">
        <a href="http://www.josra.org" target="_blank"><img src="jues15/images/head-josra2014.png" target="_blank"></a>
      </li>
    </ul>
  </div-->
</header>

<div class="menubar">
  <div class="inner">
    <a class="menu" href="/jues15">JUES15</a>
    <a class="menu" href="/jues15/program">Program</a>
    <a class="menu" href="/jues15/sponsors">Sponsors</a>
    <a class="menu" href="/jues15/misc">The rest...</a>
  </div>
</div>
