<header>
  <div class="inner">
  </div>
  <div class="flexslider" style="width:990px;margin: 0px auto;background-color:transparent;clear:left;">
    <ul class="slides">
      <li class="slides">
        <a id="pipe1" class="banner" href="http://www.code-conf.com/jues15/">
          <ribbon>
            <event>Jenkins User Events Scandinavia</event>
            <location>CPH 2015</location>
          </ribbon>
          <dot>
            <date>August<br/>11+12th<br/>2015</date>
          </dot>
          <tagline>Go With The Flow</tagline>
          <icon id="jenkinsflow"></icon>
        </a>
      </li>
      <li class="slides">
      <a id="pipe2" class="banner" href="http://www.code-conf.com/jues15/codecamp">
        <ribbon>
          <event>JUES CodeCamp</event>
          <location>Copenhagen 2015</location>
        </ribbon>
        <dot>
          <date>August<br/>11th 2015</date>
        </dot>
        <tagline>Know Your Pipeline</tagline>
        <icon id="jenkinsflow"></icon>
      </a>
      </li>
      <li class="slides">
      <a id="pipe3" class="banner" href="http://www.code-conf.com/jues15/">
        <ribbon>
          <event>JUES</event>
          <location>Copenhagen 2015</location>
        </ribbon>
        <dot>
          <date>August<br/>11th 2015</date>
        </dot>
        <tagline>Inside the Pipeline</tagline>
        <icon id="jenkinsflow"></icon>
      </a>
      </li>
    </ul>
  </div>
</header>

<div class="menubar">
  <div class="inner">
    <a class="menu" href="/jues15">JUES15</a>
    <a class="menu" href="/jues15/codecamp">Code Camp</a>
    <a class="menu" href="/jues15/agenda">Agenda</a>
    <a class="menu" href="/jues15/program">Program</a>
    <a class="menu" href="/jues15/sponsors">Sponsors</a>
    <a class="menu" href="/jues15/misc">The rest...</a>
  </div>
</div>
