<a href="http://codecph15.eventbrite.com"><div class="bluebox">
  <h1>
    Register here!</h1>
  <hr>
  We are looking forward to see you.
</div></a>
<div style="height:15px"></div>

<div class="darkbox">
  <h1>LOCATION</h1>
  University of Copenhagen<br>
  Det Humanistiske Fakultet<br>
  Njalsgade 80<br>
  DK-2300 København S
  <hr>
  <h1>DATES</h1>
  August 11<sup>th</sup> 2015 (Code Camp)<br/>
  August 12<sup>th</sup> 2015 (Conference)
  <hr>
  <h1>TIME</h1>
  <div style="padding-bottom:8px">9:00 - 17:00</div>
  <a  title="JUSE 2015 Venues: University of Copenhagen and TBD" target="_blank" href="https://goo.gl/maps/BG5lu">
    <img
      width="200"
      frameborder="0"
      style="border:0"
      src="/jues15/images/jues15-venue.png"
    </img>
  </a>
</div>

<div style="height:15px"></div>
<div class="darkbox" style="height:70px">
  <div style="float:left;"><h1>Social</h1></div>
  <a target="_blank" href="/social/tweets.html"><img width="70px" style="float:right;" src="/jues15/images/twitter-icon.png"></a>
  <!--a href="http://www.linkedin.com/groups/Continuous-Delivery-Users-4893734"><img width="70px" style="float:right;" src="/jues15/images/linkedin-icon.png"></a-->
</div>
<div style="height:15px"></div>

<a href="http://praqma.eventbrite.com" target="_blank"><div class="bluebox">
  <h1>
  More Events Like This</h1>
  <hr>
  See what else we have cooking!
</div></a>
