<a href="/program/eval.html"><div class="bluebox">
  <h1>
  Did you attend?</h1>
  <hr>
  Please fill the evaluation form
</div></a>
<div style="height:15px"></div>

<div class="darkbox">
  <h1>LOCATION</h1>
  University of Copenhagen<br>
  August Krogh Institute<br>
  Universitetsparken 13<br>
  DK-2100 København Ø
  <hr>
  <h1>DATES</h1>
  August 21<sup>nd</sup> 2014 (Code Camp)<br/>
  August 22<sup>nd</sup> 2014 (Conference)
  <hr>
  <h1>TIME</h1>
  <div style="padding-bottom:8px">9:00 - 17:00</div>
  <a  title="JCI CPH 2014 Venues: University of Copenhagen and Praqmaplex" target="_blank" href="https://mapsengine.google.com/map/embed?mid=z8eP2sDPYpyg.kH8QLfnVm5zU">
    <img
      width="200"
      frameborder="0"
      style="border:0"
      src="/images/jcicph2014-venue.png"
    </img>
  </a>
</div>

<div style="height:15px"></div>
<div class="darkbox" style="height:70px">
  <div style="float:left;"><h1>Social</h1></div>
  <a target="_blank" href="/social/tweets.html"><img width="70px" style="float:right;" src="/images/twitter-icon.png"></a>
  <!--a href="http://www.linkedin.com/groups/Continuous-Delivery-Users-4893734"><img width="70px" style="float:right;" src="/images/linkedin-icon.png"></a-->
</div>
<div style="height:15px"></div>

<a href="http://praqma.eventbrite.com" target="_blank"><div class="bluebox">
  <h1>
  More Events Like This</h1>
  <hr>
  See what else we have cooking!
</div></a>




