<aside id="sidebar">
<div>
  <h1>Organizer and host</h1>
  <p>
    <a href="/jues15/sponsors/praqma.html">Praqma</a>
  </p>

  <h1>Become a sponsor</h1>
  <p>
    <a href="/jues15/sponsors/packages.html">Read more about how to become a sponsor.</a>
  </p>

  <div style="height:15px"></div>
<a href="http://www.eventbrite.com/e/jenkins-user-event-scandinavia-2015-tickets-17385654962?aff=erellivorg" target="_blank"><div class="darkbox">
  <h1>Community sponsor</h1>
  <hr>
  <p>
  Buy a group ticket for five people, get exposure and build community karma - all in one go.</p>

  Click this box to read more
</div>
</aside>
