<header id="snow">
  <div class="inner">
  <div class="flexslider" style="width:990px;margin: 0px auto;background-color:transparent;clear:left;animation:'slide'">
    <ul class="slides">
      <li class="slides">
        <a id="dodcph" class="banner" href="http://www.code-conf.com/day-of-containers-cph16/">
          <!--ribbon>
            <event>Day of Docker</event>
            <location>CPH 2016</location>
          </ribbon-->
          <dot>
            <date>Apr<br/>4th</date>
          </dot>
          <tagline></tagline>
          <icon id="boatcph"></icon>
        </a>
      </li>
     <!-- TODO Add here slide for DoD at CPH'16. Disable other slides for now
      <li class="slides">
      <a id="dod1" class="banner" href="http://www.code-conf.com/day-of-docker-osl15/">
        <ribbon>
          <event>Day of Docker</event>
          <location>Oslo 2015</location>
        </ribbon>
        <dot>
          <date>Dec<br/>1st</date>
        </dot>
        <tagline></tagline>
      </a>
      </li>
      <li class="slides">
      <a id="dod1" class="banner" href="http://www.code-conf.com/day-of-docker-osl15/">
        <ribbon>
          <event>Day of Docker</event>
          <location>Oslo 2015</location>
        </ribbon>
        <dot>
          <date>Dec<br/>1st</date>
        </dot>
        <tagline></tagline>
      </a>
      </li>
      -->
    </ul>
  </div>
</header>
<div class="menubar">
  <div class="inner">
    <a class="menu" href="/day-of-containers-cph16">Day of Containers</a>
    <!--a class="menu" href="/day-of-containers-cph16/agenda">Agenda</a>
    <a class="menu" href="/day-of-containers-cph16/program">Program</a>
    <a class="menu" href="/day-of-containers-cph16/postconf">Postconf</a>
    <a class="menu" href="/day-of-containers-cph16/sponsors">Sponsors</a-->
    <a class="menu" href="/day-of-containers-cph16/misc">Practical Info</a>
  </div>
</div-->
</div>
