<a href="https://www.eventbrite.co.uk/e/day-of-docker-copehagen-2016-tickets-20856339874"><div class="bluebox">
  <h1>
  Register here for Day of Containers!</h1>
  <hr>
  We are looking forward to seeing you at Day of Containers.
</div></a>
<div style="height:15px"></div>

<div class="darkbox">
  <h1>LOCATION</h1>
  Dampfærgevej 10<br>
  2100 København Ø, Denmark
  <hr>
  <h1>DATE</h1>
  April 4<sup>th</sup> 2016<br/>
  <hr>
  <h1>TIME</h1>
  <div style="padding-bottom:8px">08:00 - Late!</div>
  <a title="Scandic" target="_blank" href="https://goo.gl/maps/FUqFdXysJjM2">
    <img
      width="200"
      frameborder="0"
      style="border:0"
          src="/day-of-containers-cph16/images/location_cph.png"
    </img>
  </a>
</div>

<div style="height:15px"></div>
<div class="darkbox" style="height:70px">
  <div style="float:left;"><h1>Social</h1></div>
  <a target="_blank" href="/social/tweets.html"><img width="70px" style="float:right;" src="/jues15/images/twitter-icon.png"></a>
  <!--a href="http://www.linkedin.com/groups/Continuous-Delivery-Users-4893734"><img width="70px" style="float:right;" src="/jues15/images/linkedin-icon.png"></a-->
</div>

<div style="height:15px"></div>

<div class="bluebox" style="height:250px">
  <h1>
  Made possible by
  </h1>
  <hr>
  <div class="flexslider" style="margin: 0px auto;background-color:transparent-background">
    <ul class="slides">
      <li class="slides">
        <a href="http://www.praqma.com"><img style="width:90px" src="/sponsors/logos/praqma-logo_2x4.png"/></a>
      </li>
      <li class="slides">
        <a href="https://www.docker.com"><img style="width:190px" src="/images/sponsors/docker.png"/></a>
      </li>
      <li class="slides">
        <a href="https://www.deliveryofthingsworld.com"><img style="width:190px" src="/images/sponsors/dotw.png"/></a>
      </li>
    </ul>
  </div>
      <!-- TODO Add new sponsors banners-->
      <!-- li class="slides">
        <a href="https://www.docker.com"><img style="width:190px" src="/images/sponsors/docker.png"/></a>
      </li>
      <li class="slides">
        <a href="http://bekk.no"><img style="width:190px" src="/sponsors/logos/bekk_4x2.png"/></a>
      </li>
      <li class="slides">
        <a href="/day-of-docker-osl15/sponsors/redhat.html"><img style="width:190px" src="/images/sponsors/Red_Hat.png"/></a>
      </li-->
</div>
