<aside id="sidebar">
<div>
  <h1>Organizer and host</h1>
  <p>
    <a href="/day-of-containers-cph16/sponsors/praqma.html">Praqma</a>
  </p>

  <h1>Become a sponsor</h1>
  <p>
    <a href="/day-of-containers-cph16/sponsors/packages.html">Read more about how to become a sponsor.</a>
  </p>

  <div style="height:15px"></div>
<a href="/day-of-containers-cph16/sponsors/packages.html" target="_blank"><div class="darkbox">
  <h1>Community sponsor</h1>
  <hr>
  <p>
  Buy a group ticket for five people, get exposure and build community karma - all in one go.</p>

  Click this box to read more
</div></a>

<div style="height:15px"></div>

<div class="bluebox" style="height:250px">
  <h1>
  Made possible by
  </h1>
  <hr>
  <div class="flexslider" style="margin: 0px auto;background-color:transparent">
    <ul class="slides">
      <li class="slides">
        <a href="/day-of-containers-cph16/sponsors/praqma.html"><img style="width:190px" src="/sponsors/logos/praqma-logo.png"/></a>
      </li>
      <li class="slides">
        <a href="https://www.docker.com"><img style="width:190px" src="/sponsors/logos/docker_logo.png"/></a>
      </li>
      <li class="slides">
        <a href="https://www.deliveryofthingsworld.com"><img style="width:190px" src="/images/sponsors/dotw.png"/></a>
      </li>
      <!-- TODO Add here meetup group at Denmark in case of they will be community sponsors -->
      <!--li class="slides">
        <a href="http://www.meetup.com/DevOps-Norway/"><img style="width:190px" src="/sponsors/logos/devops-norway_4x2.png"/></a>
      </li-->
    </ul>
  </div>
</div>
</aside>
