<header id="snow">
  <div class="inner">
  <div class="flexslider" style="width:990px;margin: 0px auto;background-color:transparent;clear:left;animation:'slide'">
    <ul class="slides">
      <li class="slides">
        <a id="dod1" class="banner" href="http://www.code-conf.com/day-of-docker-sthlm16/">
          <ribbon>
            <event>Day of Docker</event>
            <location>STHLM 2016</location>
          </ribbon>
          <dot>
            <date>Apr<br/>7th</date>
          </dot>
          <tagline></tagline>
          <icon id="boat"></icon>
        </a>
      </li>
     <!-- Disable other slides for now
      <li class="slides">
      <a id="dod1" class="banner" href="http://www.code-conf.com/day-of-docker-osl15/">
        <ribbon>
          <event>Day of Docker</event>
          <location>Oslo 2015</location>
        </ribbon>
        <dot>
          <date>Dec<br/>1st</date>
        </dot>
        <tagline></tagline>
      </a>
      </li>
      <li class="slides">
      <a id="dod1" class="banner" href="http://www.code-conf.com/day-of-docker-osl15/">
        <ribbon>
          <event>Day of Docker</event>
          <location>Oslo 2015</location>
        </ribbon>
        <dot>
          <date>Dec<br/>1st</date>
        </dot>
        <tagline></tagline>
      </a>
      </li>
      -->
    </ul>
  </div>
</header>
<!--TODO Desible menu bar-->
<!--div class="menubar">
  <div class="inner">
    <a class="menu" href="/day-of-docker-sthlm16">Day of Docker</a>
    <a class="menu" href="/day-of-docker-sthlm16/agenda">Agenda</a>
    <a class="menu" href="/day-of-docker-sthlm16/program">Program</a>
    <a class="menu" href="/day-of-docker-sthlm16/postconf">Postconf</a>
    <a class="menu" href="/day-of-docker-sthlm16/sponsors">Sponsors</a>
    <a class="menu" href="/day-of-docker-sthlm16/misc">Practical Info</a>
  </div>
</div-->
</div>
