<header id="snow">
    <script src="/javascripts/snowstorm.js"></script>

  <div class="inner">
  <div class="flexslider" style="width:990px;margin: 0px auto;background-color:transparent;clear:left;animation:'slide'">
    <ul class="slides">
      <li class="slides">
        <a id="dod1" class="banner" href="http://www.code-conf.com/day-of-docker-osl15/">
          <ribbon>
            <event>Day of Docker</event>
            <location>OSL 2015</location>
          </ribbon>
          <dot>
            <date>Dec<br/>1st</date>
          </dot>
          <tagline></tagline>
          <!-- <icon id="dockerwhale"></icon> -->
        </a>
      </li>
     <!-- Disable other slides for now
      <li class="slides">
      <a id="dod1" class="banner" href="http://www.code-conf.com/day-of-docker-osl15/">
        <ribbon>
          <event>Day of Docker</event>
          <location>Oslo 2015</location>
        </ribbon>
        <dot>
          <date>Dec<br/>1st</date>
        </dot>
        <tagline></tagline>
      </a>
      </li>
      <li class="slides">
      <a id="dod1" class="banner" href="http://www.code-conf.com/day-of-docker-osl15/">
        <ribbon>
          <event>Day of Docker</event>
          <location>Oslo 2015</location>
        </ribbon>
        <dot>
          <date>Dec<br/>1st</date>
        </dot>
        <tagline></tagline>
      </a>
      </li>
      -->
    </ul>
  </div>
</header>

<div class="menubar">
  <div class="inner">
    <a class="menu" href="/day-of-docker-osl15">Day of Docker</a>
    <a class="menu" href="/day-of-docker-osl15/agenda">Agenda</a>
    <a class="menu" href="/day-of-docker-osl15/program">Program</a>
    <a class="menu" href="/day-of-docker-osl15/sponsors">Sponsors</a>
    <a class="menu" href="/day-of-docker-osl15/misc">Practical Info</a>
  </div>
</div>
</div>
