<header>
  <div class="inner">
  </div>
  <div class="flexslider" style="width:990px;margin: 0px auto;background-color:transparent;clear:left;">
    <ul class="slides">
      <li class="slides">
        <a id="dod2" class="banner" href="http://www.code-conf.com/day-of-docker-osl15/">
          <ribbon>
            <event>Day of Docker</event>
            <location>Oslo 2015</location>
          </ribbon>
          <dot>
            <date>Nov<br/>26th<br/>2015</date>
          </dot>
          <tagline>Ship your code</tagline>
          <icon id="dockerwhale"></icon>
        </a>
      </li>
      <li class="slides">
      <a id="dod1" class="banner" href="http://www.code-conf.com/day-of-docker-osl15/">
        <ribbon>
          <event>Day of Docker</event>
          <location>Oslo 2015</location>
        </ribbon>
        <dot>
          <date>Nov<br/>26th 2015</date>
        </dot>
        <tagline>Progam your infrastruture</tagline>
        <icon id="dockerwhale"></icon>
      </a>
      </li>
      <li class="slides">
      <a id="dod3" class="banner" href="http://www.code-conf.com/day-of-docker-osl15/">
        <ribbon>
          <event>Day of Docker</event>
          <location>Oslo 2015</location>
        </ribbon>
        <dot>
          <date>Nov<br/>26th 2015</date>
        </dot>
        <tagline>Inside the Whale</tagline>
        <icon id="dockerwhale"></icon>
      </a>
      </li>
    </ul>
  </div>
</header>

<div class="menubar">
  <div class="inner">
    <a class="menu" href="/day-of-docker-osl15">Day of Docker</a>
    <a class="menu" href="/day-of-docker-osl15/agenda">Agenda</a>
    <!--a class="menu" href="/day-of-docker-osl15/program">Program</a-->
    <a class="menu" href="/day-of-docker-osl15/sponsors">Sponsors</a>
    <a class="menu" href="/day-of-docker-osl15/misc">The rest...</a>
  </div>
</div>
