<a href="http://www.eventbrite.com/e/day-of-docker-oslo-2015-tickets-18551159016"><div class="bluebox">
  <h1>
  Register here for Day of Docker!</h1>
  <hr>
  We are looking forward to seeing you at Day of Docker.
</div></a>
<div style="height:15px"></div>

<div class="darkbox">
  <h1>LOCATION</h1>
  Mesh<br>
  Tordenskioldsgate 3<br>
  0160 Oslo, Norway
  <hr>
  <h1>DATE</h1>
  November 26<sup>th</sup> 2015<br/>
  <hr>
  <h1>TIME</h1>
  <div style="padding-bottom:8px">08:00 - Late!</div>
  <a  title="Mesh" target="_blank" href="https://goo.gl/maps/CC22N">
    <img
      width="200"
      frameborder="0"
      style="border:0"
          src="/day-of-docker-osl15/images/location.png"
    </img>
  </a>
</div>

<div style="height:15px"></div>
<div class="darkbox" style="height:70px">
  <div style="float:left;"><h1>Social</h1></div>
  <a target="_blank" href="/social/tweets.html"><img width="70px" style="float:right;" src="/jues15/images/twitter-icon.png"></a>
  <!--a href="http://www.linkedin.com/groups/Continuous-Delivery-Users-4893734"><img width="70px" style="float:right;" src="/jues15/images/linkedin-icon.png"></a-->
</div>

<div style="height:15px"></div>

<div class="bluebox">
  <h1>
  Made possible by
  </h1>
  <hr>
  <div class="flexslider" style="margin: 0px auto;background-color:transparent">
    <ul class="slides">
      <li class="slides">
        <a href="/jues15/sponsors/praqma.html"><img style="width:190px" src="/sponsors/logos/praqma_4x2.png"/></a>
      </li>
    </ul>
  </div>
</div>
