  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel='stylesheet' type='text/css' href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700'>
    <link rel="stylesheet" type="text/css" href="/res/css/codeconfstyles.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="/res/css/pygment_trac.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="/res/css/print.css" media="print" />
    <link rel="stylesheet" type="text/css" href="/res/css/syntax.css" media="screen">
    <link rel="stylesheet" type="text/css" href="/res/css/agenda.css" media="screen">
    <link rel="stylesheet" type="text/css" href="/res/css/slider.css" media="screen">
    <link rel="stylesheet" type="text/css" href="/res/css/boxes.css" media="screen">
    <link rel="stylesheet" type="text/css" href="/res/css/banners.css" media="screen">
    <link rel="stylesheet" type="text/css" href="/res/css/jues.css" media="screen" />
    <link rel="shortcut icon" type="image/x-icon" href="/day-of-docker/images/docker-favicon.ico">

    <meta property="og:title" content="Day of Docker"/>
    <meta property="og:type" content="conference"/>
    <meta property="og:url" content="http://www.code-conf.com/day-of-docker-osl15"/>
    <meta property="og:site_name" content="Day of Docker Oslo 2015"/>
    <!--meta property="og:description"
    content="The Scandinavian Jenkins CI community is gathering for the  consecutive year.
    Thursday August 21st: Code Camp for Jenkins core and plugin developers Friday August 22nd:
    User Conference for DevOps, developers, testers, architects, business manager etc."/-->

    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <!--  site.root is intentionally left out from the prefix -->
    <script src="/res/google/googleanalytics.js"></script>

    <!-- Slider dependencies-->
    <link rel="stylesheet" type="text/css" href="/res/slider/slider.css" media="screen">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="/res/slider/slider.js"></script>

    <title>Day of Docker 2015</title>
  </head>
