<hr>
<div class="flexslider" style="width: 100%;margin: 0px auto;background-color:transparent">
  <ul class="slides">
    <li class="slides">
      <img src="/day-of-docker-osl15/images/main-slider/booth-praqma.jpg" style="width: 100%;height:450px;"/>
    </li>
    <li class="slides">
      <img src="/day-of-docker-osl15/images/main-slider/christmas-buffet.jpg" style="width: 100%;height:450px;"/>
    </li>
    <li class="slides">
      <img src="/day-of-docker-osl15/images/main-slider/plate-setting.jpg" style="width: 100%;height:450px;"/>
    </li>
    <li class="slides">
      <img src="/day-of-docker-osl15/images/main-slider/workshop.jpg" style="width: 100%;height:450px;"/>
    </li>
    <li class="slides">
      <img src="/day-of-docker-osl15/images/main-slider/dinner-guests.jpg" style="width: 100%;height:450px;"/>
    </li>
  </ul>

</div>
<hr>
