<header>
  <div class="inner">
  </div>
  <div class="flexslider" style="width:940px;margin: 0px auto;background-color:transparent">
    <ul class="slides">
      <li class="slides">
        <a href="http://codecph.eventbrite.com"><img src="/sthlm15/images/CoDeSTO_website_TOP2.jpg"/></a>
      </li>
      <li class="slides">
        <a href="/sthlm15/social/tweets.html"><img src="/sthlm15/images/CoDeSTO_TOP_STHLM.jpg"/></a>
      </li>
    </ul>
  </div>
</header>

<div class="menubar">
  <div class="inner">
    <a class="menu" href="/sthlm15">CoDeSTHLM15</a>
    <!--a class="menu" href="/program">Program</a-->
    <!--a class="menu" href="/speakers">Speakers</a-->
    <a class="menu" href="/sthlm15/program">Program</a>
    <a class="menu" href="/sthlm15/speakers">Speakers</a>
    <a class="menu" href="/sthlm15/sponsors">Sponsors</a>
    <a class="menu" href="/sthlm15/preconf">Pre-conf</a>    
    <a class="menu" href="/sthlm15/misc">The rest...</a>
  </div>
</div>
