<a href="http://codesto15.eventbrite.com"><div class="goldbox">
  <h1>
  Registration!</h1>
  <hr>
  We are looking forward to see you.
</div></a>
<div style="height:15px"></div>

<div class="darkbox">
  <h1>LOCATION</h1>
  City Conference Centre<br>
  Barnhusgatan 12-14<br>
  111 23 Stockholm
  <hr>
  <h1>DATE</h1>
  June 2<sup>nd</sup> 2015
  <hr>
  <h1>TIME</h1>
  <div style="padding-bottom:8px">9:00 - 17:00</div>
  <a  title="CoDe STO 2015 Venue: City Conference Centre" target="_blank" href="https://www.google.com/maps/d/edit?mid=zw4BQQpH4bbU.kZUVI03WnJpg">
    <img
      width="200"
      frameborder="0"
      style="border:0"
      src="/sthlm15/images/codesto15venue.png"
    </img>
  </a>
</div>

<div style="height:15px"></div>
<div class="darkbox" style="height:70px">
  <div style="float:left;"><h1>Social</h1></div>
  <a target="_blank" href="https://twitter.com/codesthlm"><img width="70px" style="float:right;" src="/images/twitter-icon.png"></a>
  <a href="http://www.linkedin.com/groups/Continuous-Delivery-Users-4893734"><img width="70px" style="float:right;" src="/images/linkedin-icon.png"></a>
</div>

<div style="height:15px"></div>

<div class="goldbox">
  <h1>
  Made possible by
  </h1>
  <hr>
  <div class="flexslider" style="margin: 0px auto;background-color:transparent">
    <ul class="slides">
      <li class="slides">
        <a href="/sthlm15/sponsors/praqma.html"><img style="width:190px" src="/sponsors/logos/praqma_4x2.png"/></a>
      </li>
      <li class="slides">
        <a href="/sthlm15/sponsors/softhouse.html"><img style="width:190px" src="/sponsors/logos/softhouse_4x2.png"/></a>
      </li>
      <li class="slides">
        <a href="/sthlm15/sponsors/xebialabs.html"><img style="width:190px" src="/sponsors/logos/xebialabs_4x2.png"/></a>
      </li>
      <li class="slides">
        <a href="/sthlm15/sponsors/delphix.html"><img style="width:190px" src="/sponsors/logos/delphix_4x2.png"/></a>
      </li>
      <li class="slides">
        <a href="/sthlm15/sponsors/cloudbees.html"><img style="width:190px" src="/sponsors/logos/cb4x2.png"/></a>
      </li>
    </ul>
  </div>
</div>
