

    <link rel="stylesheet" type="text/css" href="/res/css/codesto.css" media="screen">

    <meta property="og:title" content="Continuous Delivery and DevOps conference"/>
    <meta property="og:type" content="conference"/>
    <meta property="og:url" content="http://www.code-conf.com/sthlm15"/>
    <meta property="og:image" content="http:/www.code-conf.com/sthlm15/images/CoDeSTO_website_TOP2.jpg"/>
    <meta property="og:site_name" content="CoDeSTHLM"/>
    <meta property="og:description"
    content="The popular CoDe conferences from Copenhagen and Oslo now made available for the Stockholmers too gathering IT executives, managers, software architects & developers for a day of inspiring speaks and intensive knowledge exchange on the latest trends on delivering high quality software."/>
