<aside id="sidebar">

  <h1>Organizer and host</h1>
  <p>
    <a href="/sthlm15/sponsors/praqma.html">Praqma</a>
  </p>

  <h1>Platinum and co-host</h1>
  <p>
    <a href="/sthlm15/sponsors/softhouse.html">Softhouse</a>
  </p>

  <h1>Sponsor packages</h1>
  <p>
    <a href="/sthlm15/sponsors/packages.html">...read the details here</a>
  </p>




  <!--h1>Gold</h1>
  <p>
    <a href="mailto:events@praqma.com?subject=Please+contact+me+-+regarding+a+sponsorship+for+CoDe+CPH+2014">...You company here?</a>
  </p-->
<div style="height:15px"></div>
<div class="darkbox" style="height:70px;font-size:115%">
  <div style="float:left;"><h1>Become a sponsor!</h1></div>
  <div>
    <br/>If you are interested in becoming a sponsor at the conference and get a booth in   the exhibition area <a href="mailto:info@praqma.com?subject=Please+contact+me+regarding+sponsorship+of+CoDe+conferences" target="_blank"> Contact us</a>
  </div>
</div>
<div style="height:15px"></div>

<div class="goldbox">
  <h1>
  Made possible by
  </h1>
  <hr>
  <div class="flexslider" style="margin: 0px auto;background-color:transparent">
    <ul class="slides">
      <li class="slides">
        <a href="/sthlm15/sponsors/praqma.html"><img style="width:190px" src="/sponsors/logos/praqma_4x2.png"/></a>
      </li>
      <li class="slides">
        <a href="/sthlm15/sponsors/softhouse.html"><img style="width:190px" src="/sponsors/logos/softhouse_4x2.png"/></a>
      </li>
      <li class="slides">
        <a href="/sthlm15/sponsors/xebialabs.html"><img style="width:190px" src="/sponsors/logos/xebialabs_4x2.png"/></a>
      </li>
      <li class="slides">
        <a href="/sthlm15/sponsors/delphix.html"><img style="width:190px" src="/sponsors/logos/delphix_4x2.png"/></a>
      </li>
    </ul>
  </div>
</div>


</aside>
