
.flex-container a:active,.flexslider a:active,.flex-container a:focus,.flexslider a:focus {
    outline: none;
}

.slides,.flex-control-nav,.flex-direction-nav {
    margin: 0;
    padding: 0;
    list-style: none;
}

.slides,.flex-control-nav,.flex-direction-nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.slides,.flex-control-nav,.flex-direction-nav li {
    margin: 0;
    padding: 0;
    list-style: none;
}

.flexslider {
    margin: 0;
    padding: 0;
}

.flexslider .slides > li {
    display: none;
    -webkit-backface-visibility: hidden;
}

.flexslider .slides img {
    max-width: 100%;
    display: block;
}

.flex-pauseplay span {
    text-transform: capitalize;
}

.slides:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

html[xmlns] .slides {
    display: block;
}

* html .slides {
    height: 1%;
}

.no-js .slides > li:first-child {
    display: block;
}

.flexslider {
    background: #fff;
    position: relative;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    zoom: 1;
}

.flexslider .slides {
    zoom: 1;
    background: #fff;
    position: relative;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
}

.flexslider .slides > li {
    position: relative;
}

.flex-container {
    zoom: 1;
    position: relative;
}

.flex-caption {
    background: url(./trans.png);
}

.flex-caption {
    width: 96%;
    padding: 2% 2%;
    margin: 0;
    position: absolute;
    left: 0;
    bottom: 0;
    background: rgba(f,f,f,.3);
    color: #fff;
    font-size: 14px;
    line-height: 22px;
}

.flex-caption h3 {
    font-weight: 400;
    color: #fff;
    margin-bottom: 5px;
}

.flex-direction-nav {
    height: 0;
}

.flex-direction-nav li a {
    width: 20px;
    height: 20px;
    margin: -16px 0 0;
    display: block;
    background: url(./directionbg2.png) no-repeat;
    position: absolute;
    bottom: 10px;
    cursor: pointer;
    text-indent: -999em;
}

.flex-direction-nav li a {
    width: 20px;
    height: 20px;
    margin: -16px 0 0;
    display: block;
    background: url(./directionbg2.png) no-repeat;
    position: absolute;
    bottom: 10px;
    cursor: pointer;
    text-indent: -999em;
}

.flex-direction-nav li .next {
    background-position: -20px 0;
    right: 8px;
}

.flex-direction-nav li .prev {
    right: 32px;
}

.flex-direction-nav li .disabled {
    opacity: .3;
    filter: alpha(opacity=30);
    cursor: default;
}

.flex-control-nav {
    width: 100%;
    position: absolute;
    bottom: -30px;
    text-align: center;
}

.flex-control-nav li {
    margin: 0 0 0 5px;
    display: inline-block;
    zoom: 1;
    *display: inline;
}

.flex-control-nav li:first-child {
    margin: 0;
}

.flex-control-nav li a {
    width: 13px;
    height: 13px;
    display: block;
    background: url(./bg_control_nav.png) no-repeat;
    cursor: pointer;
    text-indent: -999em;
}

nocontrol .flex-control-nav li a{
    width: 13px;
    height: 13px;
    display: none;
    background-image: none;
}

.flex-control-nav li a:hover {
    background-position: 0 -13px;
}

.flex-control-nav li a.active {
    background-position: 0 -26px;
    cursor: default;
}


nav ul {
    list-style: none;
}
